<a href="https://colab.research.google.com/github/git-shashank-hp/Structured-ML-Credit-Card-Fraud-Detection-Project/blob/main/code_in_pyspark_ML_.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
from pyspark.sql import SparkSession
from pyspark.ml import feature
from pyspark.ml.classification import RandomForestClassifier
from pyspark.ml.evaluation import BinaryClassificationEvaluator
from pyspark.ml.tuning import CrossValidator, ParamGridBuilder
from pyspark.ml.feature import VectorAssembler, StringIndexer
from pyspark.sql.functions import col

# Create a Spark session
spark = SparkSession.builder \
    .appName("Spark ML Example") \
    .getOrCreate()

In [2]:
from google.colab import drive
drive.mount('/content/gdrive')

Drive already mounted at /content/gdrive; to attempt to forcibly remount, call drive.mount("/content/gdrive", force_remount=True).

In [3]:
file_path = '/content/gdrive/MyDrive/Colab Notebooks/CCDP/fraudTrain.csv'

In [4]:
# Reading CSV data into a Spark DataFrame
df = spark.read.csv(file_path, header=True, inferSchema=True)

# Show first few rows of data
df.show(5)

+---+---------------------+----------------+--------------------+-------------+------+---------+-------+------+--------------------+--------------+-----+-----+-------+---------+--------+--------------------+----------+--------------------+----------+------------------+-----------+--------+
|_c0|trans_date_trans_time|          cc_num|            merchant|     category|   amt|    first|   last|gender|              street|          city|state|  zip|    lat|     long|city_pop|                 job|       dob|           trans_num| unix_time|         merch_lat| merch_long|is_fraud|
+---+---------------------+----------------+--------------------+-------------+------+---------+-------+------+--------------------+--------------+-----+-----+-------+---------+--------+--------------------+----------+--------------------+----------+------------------+-----------+--------+
|  0|  2019-01-01 00:00:18|2703186189652095|fraud_Rippin, Kub...|     misc_net|  4.97| Jennifer|  Banks|     F|      561 Perry Cove|Moravian Falls|   NC|28654|36.0788| -81.1781|    3495|Psychologist, cou...|1988-03-09|0b242abb623afc578...|1325376018|         36.011293| -82.048315|       0|
|  1|  2019-01-01 00:00:44|    630423337322|fraud_Heller, Gut...|  grocery_pos|107.23|Stephanie|   Gill|     F|43039 Riley Green...|        Orient|   WA|99160|48.8878|-118.2105|     149|Special education...|1978-06-21|1f76529f857473494...|1325376044|49.159046999999994|-118.186462|       0|
|  2|  2019-01-01 00:00:51|  38859492057661|fraud_Lind-Buckridge|entertainment|220.11|   Edward|Sanchez|     M|594 White Dale Su...|    Malad City|   ID|83252|42.1808| -112.262|    4154|Nature conservati...|1962-01-19|a1a22d70485983eac...|1325376051|         43.150704|-112.154481|       0|
|  3|  2019-01-01 00:01:16|3534093764340240|fraud_Kutch, Herm...|gas_transport|  45.0|   Jeremy|  White|     M|9443 Cynthia Cour...|       Boulder|   MT|59632|46.2306|-112.1138|    1939|     Patent attorney|1967-01-12|6b849c168bdad6f86...|1325376076|         47.034331|-112.561071|       0|
|  4|  2019-01-01 00:03:06| 375534208663984| fraud_Keeling-Crist|     misc_pos| 41.96|    Tyler| Garcia|     M|    408 Bradley Rest|      Doe Hill|   VA|24433|38.4207| -79.4629|      99|Dance movement ps...|1986-03-28|a41d7549acf907893...|1325376186|         38.674999| -78.632459|       0|
+---+---------------------+----------------+--------------------+-------------+------+---------+-------+------+--------------------+--------------+-----+-----+-------+---------+--------+--------------------+----------+--------------------+----------+------------------+-----------+--------+
only showing top 5 rows

In [5]:
# Print schema to see column names and types
df.printSchema()

root
 |-- _c0: integer (nullable = true)
 |-- trans_date_trans_time: timestamp (nullable = true)
 |-- cc_num: long (nullable = true)
 |-- merchant: string (nullable = true)
 |-- category: string (nullable = true)
 |-- amt: double (nullable = true)
 |-- first: string (nullable = true)
 |-- last: string (nullable = true)
 |-- gender: string (nullable = true)
 |-- street: string (nullable = true)
 |-- city: string (nullable = true)
 |-- state: string (nullable = true)
 |-- zip: integer (nullable = true)
 |-- lat: double (nullable = true)
 |-- long: double (nullable = true)
 |-- city_pop: integer (nullable = true)
 |-- job: string (nullable = true)
 |-- dob: date (nullable = true)
 |-- trans_num: string (nullable = true)
 |-- unix_time: integer (nullable = true)
 |-- merch_lat: double (nullable = true)
 |-- merch_long: double (nullable = true)
 |-- is_fraud: integer (nullable = true)

In [6]:
row_count = df.count()
print(f"Number of rows: {row_count}")

Number of rows: 1296675

In [7]:
len(df.columns)

23

In [8]:
import math
from pyspark.sql import SparkSession
from pyspark.sql.functions import udf
from pyspark.sql.types import DoubleType

# Initialize Spark session
spark = SparkSession.builder.appName("HaversineExample").getOrCreate()

# Haversine formula function to calculate distance between two latitudes and longitudes (in kilometers)
def haversine(lat1, lon1, lat2, lon2):
    # Radius of the Earth in kilometers
    R = 6371.0

    # Convert degrees to radians
    lat1_rad = math.radians(lat1)
    lon1_rad = math.radians(lon1)
    lat2_rad = math.radians(lat2)
    lon2_rad = math.radians(lon2)

    # Difference in coordinates
    dlat = lat2_rad - lat1_rad
    dlon = lon2_rad - lon1_rad

    # Haversine formula
    a = math.sin(dlat / 2)**2 + math.cos(lat1_rad) * math.cos(lat2_rad) * math.sin(dlon / 2)**2
    c = 2 * math.atan2(math.sqrt(a), math.sqrt(1 - a))

    # Distance in kilometers
    distance = R * c
    return distance

# Register the Haversine function as a UDF (User Defined Function)
haversine_udf = udf(haversine, DoubleType())

# Assuming you have already loaded the dataset `df`
# If you have more columns, let's make sure that we keep them all

# Example to load your dataset into DataFrame (replace 'file_path' with the actual path)
# Reading CSV data into a Spark DataFrame
df1 = spark.read.csv(file_path, header=True, inferSchema=True)

# Apply the Haversine UDF to calculate the distance and keep all original columns
df_with_distance = df1.withColumn("distance_from_merchant",
                                 haversine_udf("lat", "long", "merch_lat", "merch_long"))

# Show the resulting DataFrame with the calculated distance, along with all original columns
df_with_distance.show(truncate=False)

+---+---------------------+-------------------+----------------------------------------+-------------+------+-----------+---------+------+------------------------------+------------------------+-----+-----+-------+------------------+--------+---------------------------------------------+----------+--------------------------------+----------+------------------+------------------+--------+----------------------+
|_c0|trans_date_trans_time|cc_num             |merchant                                |category     |amt   |first      |last     |gender|street                        |city                    |state|zip  |lat    |long              |city_pop|job                                          |dob       |trans_num                       |unix_time |merch_lat         |merch_long        |is_fraud|distance_from_merchant|
+---+---------------------+-------------------+----------------------------------------+-------------+------+-----------+---------+------+------------------------------+------------------------+-----+-----+-------+------------------+--------+---------------------------------------------+----------+--------------------------------+----------+------------------+------------------+--------+----------------------+
|0  |2019-01-01 00:00:18  |2703186189652095   |fraud_Rippin, Kub and Mann              |misc_net     |4.97  |Jennifer   |Banks    |F     |561 Perry Cove                |Moravian Falls          |NC   |28654|36.0788|-81.1781          |3495    |Psychologist, counselling                    |1988-03-09|0b242abb623afc578575680df30655b9|1325376018|36.011293         |-82.048315        |0       |78.59756848823062     |
|1  |2019-01-01 00:00:44  |630423337322       |fraud_Heller, Gutmann and Zieme         |grocery_pos  |107.23|Stephanie  |Gill     |F     |43039 Riley Greens Suite 393  |Orient                  |WA   |99160|48.8878|-118.2105         |149     |Special educational needs teacher            |1978-06-21|1f76529f8574734946361c461b024d99|1325376044|49.159046999999994|-118.186462       |0       |30.212175719210443    |
|2  |2019-01-01 00:00:51  |38859492057661     |fraud_Lind-Buckridge                    |entertainment|220.11|Edward     |Sanchez  |M     |594 White Dale Suite 530      |Malad City              |ID   |83252|42.1808|-112.262          |4154    |Nature conservation officer                  |1962-01-19|a1a22d70485983eac12b5b88dad1cf95|1325376051|43.150704         |-112.154481       |0       |108.20608258720067    |
|3  |2019-01-01 00:01:16  |3534093764340240   |fraud_Kutch, Hermiston and Farrell      |gas_transport|45.0  |Jeremy     |White    |M     |9443 Cynthia Court Apt. 038   |Boulder                 |MT   |59632|46.2306|-112.1138         |1939    |Patent attorney                              |1967-01-12|6b849c168bdad6f867558c3793159a81|1325376076|47.034331         |-112.561071       |0       |95.67323113819748     |
|4  |2019-01-01 00:03:06  |375534208663984    |fraud_Keeling-Crist                     |misc_pos     |41.96 |Tyler      |Garcia   |M     |408 Bradley Rest              |Doe Hill                |VA   |24433|38.4207|-79.4629          |99      |Dance movement psychotherapist               |1986-03-28|a41d7549acf90789359a9aa5346dcb46|1325376186|38.674999         |-78.632459        |0       |77.5567436258178      |
|5  |2019-01-01 00:04:08  |4767265376804500   |fraud_Stroman, Hudson and Erdman        |gas_transport|94.63 |Jennifer   |Conner   |F     |4655 David Island             |Dublin                  |PA   |18917|40.375 |-75.2045          |2158    |Transport planner                            |1961-06-19|189a841a0a8ba03058526bcfe566aab5|1325376248|40.653382         |-76.15266700000001|0       |85.92264266264023     |
|6  |2019-01-01 00:04:42  |30074693890476     |fraud_Rowe-Vandervort                   |grocery_net  |44.54 |Kelsey     |Richards |F     |889 Sarah Station Suite 624   |Holcomb                 |KS   |67851|37.9931|-100.9893         |2691    |Arboriculturist                              |1993-08-16|83ec1cc84142af6e2acf10c44949e720|1325376282|37.162704999999995|-100.15337        |0       |118.11977555909641    |
|7  |2019-01-01 00:05:08  |6011360759745864   |fraud_Corwin-Collins                    |gas_transport|71.65 |Steven     |Williams |M     |231 Flores Pass Suite 720     |Edinburg                |VA   |22824|38.8432|-78.6003          |6018    |Designer, multimedia                         |1947-08-21|6d294ed2cc447d2c71c7171a3d54967c|1325376308|38.948089         |-78.540296        |0       |12.766922541959126    |
|8  |2019-01-01 00:05:18  |4922710831011201   |fraud_Herzog Ltd                        |misc_pos     |4.27  |Heather    |Chase    |F     |6888 Hicks Stream Suite 954   |Manor                   |PA   |15665|40.3359|-79.6607          |1472    |Public affairs consultant                    |1941-03-07|fc28024ce480f8ef21a32d64c93a29f5|1325376318|40.351813         |-79.958146        |0       |25.27049367104955     |
|9  |2019-01-01 00:06:01  |2720830304681674   |fraud_Schoen, Kuphal and Nitzsche       |grocery_pos  |198.39|Melissa    |Aguilar  |F     |21326 Taylor Squares Suite 708|Clarksville             |TN   |37040|36.522 |-87.34899999999999|151785  |Pathologist                                  |1974-03-28|3b9014ea8fb80bd65de0b1463b00b00e|1325376361|37.179198         |-87.485381        |0       |74.07775048182131     |
|10 |2019-01-01 00:06:23  |4642894980163      |fraud_Rutherford-Mertz                  |grocery_pos  |24.74 |Eddie      |Mendez   |M     |1831 Faith View Suite 653     |Clarinda                |IA   |51632|40.7491|-95.038           |7297    |IT trainer                                   |1990-07-13|d71c95ab6b7356dd74389d41df429c87|1325376383|40.275890999999994|-96.011548        |0       |97.68326577207269     |
|11 |2019-01-01 00:06:53  |377234009633447    |fraud_Kerluke-Abshire                   |shopping_net |7.77  |Theresa    |Blackwell|F     |43576 Kristina Islands        |Shenandoah Junction     |WV   |25442|39.3716|-77.8229          |1925    |Systems developer                            |1966-02-14|3c74776e558f1499a7824b556e474b1d|1325376413|40.103866         |-78.624459        |0       |106.4293808943283     |
|12 |2019-01-01 00:06:56  |180042946491150    |fraud_Lockman Ltd                       |grocery_pos  |71.22 |Charles    |Robles   |M     |3337 Lisa Divide              |Saint Petersburg        |FL   |33710|27.7898|-82.7243          |341043  |Engineer, land                               |1989-02-28|c1d9a7ddb1e34639fe82758de97f4abf|1325376416|27.630593         |-82.308891        |0       |44.56107983071174     |
|13 |2019-01-01 00:07:27  |5559857416065248   |fraud_Kiehn Inc                         |grocery_pos  |96.29 |Jack       |Hill     |M     |5916 Susan Bridge Apt. 939    |Grenada                 |CA   |96038|41.6125|-122.5258         |589     |Systems analyst                              |1945-12-21|413636e759663f264aae1819a4d4f231|1325376447|41.65752          |-122.230347       |0       |25.059079169313318    |
|14 |2019-01-01 00:09:03  |3514865930894695   |fraud_Beier-Hyatt                       |shopping_pos |7.77  |Christopher|Castaneda|M     |1632 Cohen Drive Suite 639    |High Rolls Mountain Park|NM   |88325|32.9396|-105.8189         |899     |Naval architect                              |1967-08-30|8a6293af5ed278dea14448ded2685fea|1325376543|32.863258         |-106.520205       |0       |66.02168481006179     |
|15 |2019-01-01 00:09:20  |6011999606625827   |fraud_Schmidt and Sons                  |shopping_net |3.26  |Ronald     |Carson   |M     |870 Rocha Drive               |Harrington Park         |NJ   |7640 |40.9918|-73.98            |4664    |Radiographer, diagnostic                     |1965-06-30|baae0b096835c975857eea7e28dde3dc|1325376560|41.831174         |-74.335559        |0       |97.93065268602581     |
|16 |2019-01-01 00:10:49  |6011860238257910   |fraud_Lebsack and Sons                  |misc_net     |327.0 |Lisa       |Mendez   |F     |44259 Beth Station Suite 215  |Lahoma                  |OK   |73754|36.385 |-98.0727          |1078    |Programme researcher, broadcasting/film/video|1952-07-06|991c04803b4d4eeab30d6245a872e3d3|1325376649|36.384091999999995|-99.048472        |0       |87.34874840731703     |
|17 |2019-01-01 00:10:58  |3565423334076143   |fraud_Mayert Group                      |shopping_pos |341.67|Nathan     |Thomas   |M     |4923 Campbell Pines Suite 717 |Carlisle                |IN   |47838|38.9763|-87.3667          |4081    |Energy engineer                              |1938-03-15|f12cf52be2175703db789a4644c32f25|1325376658|38.674490999999996|-88.305767        |0       |87.99895015911639     |
|18 |2019-01-01 00:11:14  |2348245054386329   |fraud_Konopelski, Schneider and Hartmann|food_dining  |63.07 |Justin     |Gay      |M     |268 Hayes Rue Suite 811       |Harborcreek             |PA   |16421|42.1767|-79.9416          |2518    |Event organiser                              |1946-02-02|8500f3d459047eac8443307b1e8296e5|1325376674|41.430274         |-79.492553        |0       |90.96220878947973     |
|19 |2019-01-01 00:12:34  |4956828990005111019|fraud_Schultz, Simonis and Little       |grocery_pos  |44.71 |Kenneth    |Robinson |M     |269 Sanchez Rapids            |Elizabeth               |NJ   |7208 |40.6747|-74.2239          |124967  |Operational researcher                       |1980-12-21|09eff9c806365e2a6be12c1bbab3d70e|1325376754|40.079588         |-74.84808699999999|0       |84.70212030854243     |
+---+---------------------+-------------------+----------------------------------------+-------------+------+-----------+---------+------+------------------------------+------------------------+-----+-----+-------+------------------+--------+---------------------------------------------+----------+--------------------------------+----------+------------------+------------------+--------+----------------------+
only showing top 20 rows

In [9]:
# Print schema to see column names and types
df_with_distance.printSchema()

root
 |-- _c0: integer (nullable = true)
 |-- trans_date_trans_time: timestamp (nullable = true)
 |-- cc_num: long (nullable = true)
 |-- merchant: string (nullable = true)
 |-- category: string (nullable = true)
 |-- amt: double (nullable = true)
 |-- first: string (nullable = true)
 |-- last: string (nullable = true)
 |-- gender: string (nullable = true)
 |-- street: string (nullable = true)
 |-- city: string (nullable = true)
 |-- state: string (nullable = true)
 |-- zip: integer (nullable = true)
 |-- lat: double (nullable = true)
 |-- long: double (nullable = true)
 |-- city_pop: integer (nullable = true)
 |-- job: string (nullable = true)
 |-- dob: date (nullable = true)
 |-- trans_num: string (nullable = true)
 |-- unix_time: integer (nullable = true)
 |-- merch_lat: double (nullable = true)
 |-- merch_long: double (nullable = true)
 |-- is_fraud: integer (nullable = true)
 |-- distance_from_merchant: double (nullable = true)

In [10]:
# Drop unwanted columns from df_with_distance
df_cleaned = df_with_distance.drop('_c0', 'merchant', 'cc_num', 'first',
                                   'state', 'last', 'trans_num', 'unix_time',
                                   'street', 'city', 'lat', 'long', 'merch_lat',
                                   'merch_long', 'zip')

# Show the cleaned DataFrame with the remaining columns
df_cleaned.show(truncate=False)

+---------------------+-------------+------+------+--------+---------------------------------------------+----------+--------+----------------------+
|trans_date_trans_time|category     |amt   |gender|city_pop|job                                          |dob       |is_fraud|distance_from_merchant|
+---------------------+-------------+------+------+--------+---------------------------------------------+----------+--------+----------------------+
|2019-01-01 00:00:18  |misc_net     |4.97  |F     |3495    |Psychologist, counselling                    |1988-03-09|0       |78.59756848823062     |
|2019-01-01 00:00:44  |grocery_pos  |107.23|F     |149     |Special educational needs teacher            |1978-06-21|0       |30.212175719210443    |
|2019-01-01 00:00:51  |entertainment|220.11|M     |4154    |Nature conservation officer                  |1962-01-19|0       |108.20608258720067    |
|2019-01-01 00:01:16  |gas_transport|45.0  |M     |1939    |Patent attorney                              |1967-01-12|0       |95.67323113819748     |
|2019-01-01 00:03:06  |misc_pos     |41.96 |M     |99      |Dance movement psychotherapist               |1986-03-28|0       |77.5567436258178      |
|2019-01-01 00:04:08  |gas_transport|94.63 |F     |2158    |Transport planner                            |1961-06-19|0       |85.92264266264023     |
|2019-01-01 00:04:42  |grocery_net  |44.54 |F     |2691    |Arboriculturist                              |1993-08-16|0       |118.11977555909641    |
|2019-01-01 00:05:08  |gas_transport|71.65 |M     |6018    |Designer, multimedia                         |1947-08-21|0       |12.766922541959126    |
|2019-01-01 00:05:18  |misc_pos     |4.27  |F     |1472    |Public affairs consultant                    |1941-03-07|0       |25.27049367104955     |
|2019-01-01 00:06:01  |grocery_pos  |198.39|F     |151785  |Pathologist                                  |1974-03-28|0       |74.07775048182131     |
|2019-01-01 00:06:23  |grocery_pos  |24.74 |M     |7297    |IT trainer                                   |1990-07-13|0       |97.68326577207269     |
|2019-01-01 00:06:53  |shopping_net |7.77  |F     |1925    |Systems developer                            |1966-02-14|0       |106.4293808943283     |
|2019-01-01 00:06:56  |grocery_pos  |71.22 |M     |341043  |Engineer, land                               |1989-02-28|0       |44.56107983071174     |
|2019-01-01 00:07:27  |grocery_pos  |96.29 |M     |589     |Systems analyst                              |1945-12-21|0       |25.059079169313318    |
|2019-01-01 00:09:03  |shopping_pos |7.77  |M     |899     |Naval architect                              |1967-08-30|0       |66.02168481006179     |
|2019-01-01 00:09:20  |shopping_net |3.26  |M     |4664    |Radiographer, diagnostic                     |1965-06-30|0       |97.93065268602581     |
|2019-01-01 00:10:49  |misc_net     |327.0 |F     |1078    |Programme researcher, broadcasting/film/video|1952-07-06|0       |87.34874840731703     |
|2019-01-01 00:10:58  |shopping_pos |341.67|M     |4081    |Energy engineer                              |1938-03-15|0       |87.99895015911639     |
|2019-01-01 00:11:14  |food_dining  |63.07 |M     |2518    |Event organiser                              |1946-02-02|0       |90.96220878947973     |
|2019-01-01 00:12:34  |grocery_pos  |44.71 |M     |124967  |Operational researcher                       |1980-12-21|0       |84.70212030854243     |
+---------------------+-------------+------+------+--------+---------------------------------------------+----------+--------+----------------------+
only showing top 20 rows

In [11]:
from pyspark.sql.functions import to_timestamp

# Convert 'trans_date_trans_time' to timestamp
df_cleaned = df_cleaned.withColumn('trans_date_trans_time', to_timestamp('trans_date_trans_time'))

# Convert 'dob' to timestamp
df_cleaned = df_cleaned.withColumn('dob', to_timestamp('dob'))

# Show the updated DataFrame schema to verify the changes
df_cleaned.printSchema()

# Show the DataFrame to verify the conversions
df_cleaned.show(truncate=False)

root
 |-- trans_date_trans_time: timestamp (nullable = true)
 |-- category: string (nullable = true)
 |-- amt: double (nullable = true)
 |-- gender: string (nullable = true)
 |-- city_pop: integer (nullable = true)
 |-- job: string (nullable = true)
 |-- dob: timestamp (nullable = true)
 |-- is_fraud: integer (nullable = true)
 |-- distance_from_merchant: double (nullable = true)

+---------------------+-------------+------+------+--------+---------------------------------------------+-------------------+--------+----------------------+
|trans_date_trans_time|category     |amt   |gender|city_pop|job                                          |dob                |is_fraud|distance_from_merchant|
+---------------------+-------------+------+------+--------+---------------------------------------------+-------------------+--------+----------------------+
|2019-01-01 00:00:18  |misc_net     |4.97  |F     |3495    |Psychologist, counselling                    |1988-03-09 00:00:00|0       |78.59756848823062     |
|2019-01-01 00:00:44  |grocery_pos  |107.23|F     |149     |Special educational needs teacher            |1978-06-21 00:00:00|0       |30.212175719210443    |
|2019-01-01 00:00:51  |entertainment|220.11|M     |4154    |Nature conservation officer                  |1962-01-19 00:00:00|0       |108.20608258720067    |
|2019-01-01 00:01:16  |gas_transport|45.0  |M     |1939    |Patent attorney                              |1967-01-12 00:00:00|0       |95.67323113819748     |
|2019-01-01 00:03:06  |misc_pos     |41.96 |M     |99      |Dance movement psychotherapist               |1986-03-28 00:00:00|0       |77.5567436258178      |
|2019-01-01 00:04:08  |gas_transport|94.63 |F     |2158    |Transport planner                            |1961-06-19 00:00:00|0       |85.92264266264023     |
|2019-01-01 00:04:42  |grocery_net  |44.54 |F     |2691    |Arboriculturist                              |1993-08-16 00:00:00|0       |118.11977555909641    |
|2019-01-01 00:05:08  |gas_transport|71.65 |M     |6018    |Designer, multimedia                         |1947-08-21 00:00:00|0       |12.766922541959126    |
|2019-01-01 00:05:18  |misc_pos     |4.27  |F     |1472    |Public affairs consultant                    |1941-03-07 00:00:00|0       |25.27049367104955     |
|2019-01-01 00:06:01  |grocery_pos  |198.39|F     |151785  |Pathologist                                  |1974-03-28 00:00:00|0       |74.07775048182131     |
|2019-01-01 00:06:23  |grocery_pos  |24.74 |M     |7297    |IT trainer                                   |1990-07-13 00:00:00|0       |97.68326577207269     |
|2019-01-01 00:06:53  |shopping_net |7.77  |F     |1925    |Systems developer                            |1966-02-14 00:00:00|0       |106.4293808943283     |
|2019-01-01 00:06:56  |grocery_pos  |71.22 |M     |341043  |Engineer, land                               |1989-02-28 00:00:00|0       |44.56107983071174     |
|2019-01-01 00:07:27  |grocery_pos  |96.29 |M     |589     |Systems analyst                              |1945-12-21 00:00:00|0       |25.059079169313318    |
|2019-01-01 00:09:03  |shopping_pos |7.77  |M     |899     |Naval architect                              |1967-08-30 00:00:00|0       |66.02168481006179     |
|2019-01-01 00:09:20  |shopping_net |3.26  |M     |4664    |Radiographer, diagnostic                     |1965-06-30 00:00:00|0       |97.93065268602581     |
|2019-01-01 00:10:49  |misc_net     |327.0 |F     |1078    |Programme researcher, broadcasting/film/video|1952-07-06 00:00:00|0       |87.34874840731703     |
|2019-01-01 00:10:58  |shopping_pos |341.67|M     |4081    |Energy engineer                              |1938-03-15 00:00:00|0       |87.99895015911639     |
|2019-01-01 00:11:14  |food_dining  |63.07 |M     |2518    |Event organiser                              |1946-02-02 00:00:00|0       |90.96220878947973     |
|2019-01-01 00:12:34  |grocery_pos  |44.71 |M     |124967  |Operational researcher                       |1980-12-21 00:00:00|0       |84.70212030854243     |
+---------------------+-------------+------+------+--------+---------------------------------------------+-------------------+--------+----------------------+
only showing top 20 rows

In [12]:
from pyspark.sql import functions as F
from pyspark.sql.functions import year, month, dayofmonth, current_date

# Extract individual date-time components from 'trans_date_trans_time'
df_cleaned = df_cleaned.withColumn('year', year('trans_date_trans_time'))
df_cleaned = df_cleaned.withColumn('Trans_month', month('trans_date_trans_time'))

# Extract individual date-time components from 'dob'
df_cleaned = df_cleaned.withColumn('birth_year', year('dob'))

# Calculate age by subtracting birth year from the current year
current_year = current_date().substr(1, 4).cast('int')  # Extract current year as integer
df_cleaned = df_cleaned.withColumn('age', current_year - df_cleaned['birth_year'])

# Show the updated DataFrame with the new columns
df_cleaned.show(truncate=False)

+---------------------+-------------+------+------+--------+---------------------------------------------+-------------------+--------+----------------------+----+-----------+----------+---+
|trans_date_trans_time|category     |amt   |gender|city_pop|job                                          |dob                |is_fraud|distance_from_merchant|year|Trans_month|birth_year|age|
+---------------------+-------------+------+------+--------+---------------------------------------------+-------------------+--------+----------------------+----+-----------+----------+---+
|2019-01-01 00:00:18  |misc_net     |4.97  |F     |3495    |Psychologist, counselling                    |1988-03-09 00:00:00|0       |78.59756848823062     |2019|1          |1988      |36 |
|2019-01-01 00:00:44  |grocery_pos  |107.23|F     |149     |Special educational needs teacher            |1978-06-21 00:00:00|0       |30.212175719210443    |2019|1          |1978      |46 |
|2019-01-01 00:00:51  |entertainment|220.11|M     |4154    |Nature conservation officer                  |1962-01-19 00:00:00|0       |108.20608258720067    |2019|1          |1962      |62 |
|2019-01-01 00:01:16  |gas_transport|45.0  |M     |1939    |Patent attorney                              |1967-01-12 00:00:00|0       |95.67323113819748     |2019|1          |1967      |57 |
|2019-01-01 00:03:06  |misc_pos     |41.96 |M     |99      |Dance movement psychotherapist               |1986-03-28 00:00:00|0       |77.5567436258178      |2019|1          |1986      |38 |
|2019-01-01 00:04:08  |gas_transport|94.63 |F     |2158    |Transport planner                            |1961-06-19 00:00:00|0       |85.92264266264023     |2019|1          |1961      |63 |
|2019-01-01 00:04:42  |grocery_net  |44.54 |F     |2691    |Arboriculturist                              |1993-08-16 00:00:00|0       |118.11977555909641    |2019|1          |1993      |31 |
|2019-01-01 00:05:08  |gas_transport|71.65 |M     |6018    |Designer, multimedia                         |1947-08-21 00:00:00|0       |12.766922541959126    |2019|1          |1947      |77 |
|2019-01-01 00:05:18  |misc_pos     |4.27  |F     |1472    |Public affairs consultant                    |1941-03-07 00:00:00|0       |25.27049367104955     |2019|1          |1941      |83 |
|2019-01-01 00:06:01  |grocery_pos  |198.39|F     |151785  |Pathologist                                  |1974-03-28 00:00:00|0       |74.07775048182131     |2019|1          |1974      |50 |
|2019-01-01 00:06:23  |grocery_pos  |24.74 |M     |7297    |IT trainer                                   |1990-07-13 00:00:00|0       |97.68326577207269     |2019|1          |1990      |34 |
|2019-01-01 00:06:53  |shopping_net |7.77  |F     |1925    |Systems developer                            |1966-02-14 00:00:00|0       |106.4293808943283     |2019|1          |1966      |58 |
|2019-01-01 00:06:56  |grocery_pos  |71.22 |M     |341043  |Engineer, land                               |1989-02-28 00:00:00|0       |44.56107983071174     |2019|1          |1989      |35 |
|2019-01-01 00:07:27  |grocery_pos  |96.29 |M     |589     |Systems analyst                              |1945-12-21 00:00:00|0       |25.059079169313318    |2019|1          |1945      |79 |
|2019-01-01 00:09:03  |shopping_pos |7.77  |M     |899     |Naval architect                              |1967-08-30 00:00:00|0       |66.02168481006179     |2019|1          |1967      |57 |
|2019-01-01 00:09:20  |shopping_net |3.26  |M     |4664    |Radiographer, diagnostic                     |1965-06-30 00:00:00|0       |97.93065268602581     |2019|1          |1965      |59 |
|2019-01-01 00:10:49  |misc_net     |327.0 |F     |1078    |Programme researcher, broadcasting/film/video|1952-07-06 00:00:00|0       |87.34874840731703     |2019|1          |1952      |72 |
|2019-01-01 00:10:58  |shopping_pos |341.67|M     |4081    |Energy engineer                              |1938-03-15 00:00:00|0       |87.99895015911639     |2019|1          |1938      |86 |
|2019-01-01 00:11:14  |food_dining  |63.07 |M     |2518    |Event organiser                              |1946-02-02 00:00:00|0       |90.96220878947973     |2019|1          |1946      |78 |
|2019-01-01 00:12:34  |grocery_pos  |44.71 |M     |124967  |Operational researcher                       |1980-12-21 00:00:00|0       |84.70212030854243     |2019|1          |1980      |44 |
+---------------------+-------------+------+------+--------+---------------------------------------------+-------------------+--------+----------------------+----+-----------+----------+---+
only showing top 20 rows

In [13]:
from pyspark.sql.functions import col

# Convert 'year' and 'Trans_month' columns to string (PySpark equivalent of 'object' in Pandas)
df_cleaned = df_cleaned.withColumn('year', col('year').cast('string'))
df_cleaned = df_cleaned.withColumn('Trans_month', col('Trans_month').cast('string'))

# Show the updated DataFrame with the new column types
df_cleaned.printSchema()
df_cleaned.show(truncate=False)

root
 |-- trans_date_trans_time: timestamp (nullable = true)
 |-- category: string (nullable = true)
 |-- amt: double (nullable = true)
 |-- gender: string (nullable = true)
 |-- city_pop: integer (nullable = true)
 |-- job: string (nullable = true)
 |-- dob: timestamp (nullable = true)
 |-- is_fraud: integer (nullable = true)
 |-- distance_from_merchant: double (nullable = true)
 |-- year: string (nullable = true)
 |-- Trans_month: string (nullable = true)
 |-- birth_year: integer (nullable = true)
 |-- age: integer (nullable = true)

+---------------------+-------------+------+------+--------+---------------------------------------------+-------------------+--------+----------------------+----+-----------+----------+---+
|trans_date_trans_time|category     |amt   |gender|city_pop|job                                          |dob                |is_fraud|distance_from_merchant|year|Trans_month|birth_year|age|
+---------------------+-------------+------+------+--------+---------------------------------------------+-------------------+--------+----------------------+----+-----------+----------+---+
|2019-01-01 00:00:18  |misc_net     |4.97  |F     |3495    |Psychologist, counselling                    |1988-03-09 00:00:00|0       |78.59756848823062     |2019|1          |1988      |36 |
|2019-01-01 00:00:44  |grocery_pos  |107.23|F     |149     |Special educational needs teacher            |1978-06-21 00:00:00|0       |30.212175719210443    |2019|1          |1978      |46 |
|2019-01-01 00:00:51  |entertainment|220.11|M     |4154    |Nature conservation officer                  |1962-01-19 00:00:00|0       |108.20608258720067    |2019|1          |1962      |62 |
|2019-01-01 00:01:16  |gas_transport|45.0  |M     |1939    |Patent attorney                              |1967-01-12 00:00:00|0       |95.67323113819748     |2019|1          |1967      |57 |
|2019-01-01 00:03:06  |misc_pos     |41.96 |M     |99      |Dance movement psychotherapist               |1986-03-28 00:00:00|0       |77.5567436258178      |2019|1          |1986      |38 |
|2019-01-01 00:04:08  |gas_transport|94.63 |F     |2158    |Transport planner                            |1961-06-19 00:00:00|0       |85.92264266264023     |2019|1          |1961      |63 |
|2019-01-01 00:04:42  |grocery_net  |44.54 |F     |2691    |Arboriculturist                              |1993-08-16 00:00:00|0       |118.11977555909641    |2019|1          |1993      |31 |
|2019-01-01 00:05:08  |gas_transport|71.65 |M     |6018    |Designer, multimedia                         |1947-08-21 00:00:00|0       |12.766922541959126    |2019|1          |1947      |77 |
|2019-01-01 00:05:18  |misc_pos     |4.27  |F     |1472    |Public affairs consultant                    |1941-03-07 00:00:00|0       |25.27049367104955     |2019|1          |1941      |83 |
|2019-01-01 00:06:01  |grocery_pos  |198.39|F     |151785  |Pathologist                                  |1974-03-28 00:00:00|0       |74.07775048182131     |2019|1          |1974      |50 |
|2019-01-01 00:06:23  |grocery_pos  |24.74 |M     |7297    |IT trainer                                   |1990-07-13 00:00:00|0       |97.68326577207269     |2019|1          |1990      |34 |
|2019-01-01 00:06:53  |shopping_net |7.77  |F     |1925    |Systems developer                            |1966-02-14 00:00:00|0       |106.4293808943283     |2019|1          |1966      |58 |
|2019-01-01 00:06:56  |grocery_pos  |71.22 |M     |341043  |Engineer, land                               |1989-02-28 00:00:00|0       |44.56107983071174     |2019|1          |1989      |35 |
|2019-01-01 00:07:27  |grocery_pos  |96.29 |M     |589     |Systems analyst                              |1945-12-21 00:00:00|0       |25.059079169313318    |2019|1          |1945      |79 |
|2019-01-01 00:09:03  |shopping_pos |7.77  |M     |899     |Naval architect                              |1967-08-30 00:00:00|0       |66.02168481006179     |2019|1          |1967      |57 |
|2019-01-01 00:09:20  |shopping_net |3.26  |M     |4664    |Radiographer, diagnostic                     |1965-06-30 00:00:00|0       |97.93065268602581     |2019|1          |1965      |59 |
|2019-01-01 00:10:49  |misc_net     |327.0 |F     |1078    |Programme researcher, broadcasting/film/video|1952-07-06 00:00:00|0       |87.34874840731703     |2019|1          |1952      |72 |
|2019-01-01 00:10:58  |shopping_pos |341.67|M     |4081    |Energy engineer                              |1938-03-15 00:00:00|0       |87.99895015911639     |2019|1          |1938      |86 |
|2019-01-01 00:11:14  |food_dining  |63.07 |M     |2518    |Event organiser                              |1946-02-02 00:00:00|0       |90.96220878947973     |2019|1          |1946      |78 |
|2019-01-01 00:12:34  |grocery_pos  |44.71 |M     |124967  |Operational researcher                       |1980-12-21 00:00:00|0       |84.70212030854243     |2019|1          |1980      |44 |
+---------------------+-------------+------+------+--------+---------------------------------------------+-------------------+--------+----------------------+----+-----------+----------+---+
only showing top 20 rows

In [14]:
# Drop specified columns from df_cleaned
df_cleaned = df_cleaned.drop('trans_date_trans_time', 'birth_year', 'dob', 'job')

# Show the cleaned DataFrame to verify the columns have been removed
df_cleaned.show(truncate=False)

+-------------+------+------+--------+--------+----------------------+----+-----------+---+
|category     |amt   |gender|city_pop|is_fraud|distance_from_merchant|year|Trans_month|age|
+-------------+------+------+--------+--------+----------------------+----+-----------+---+
|misc_net     |4.97  |F     |3495    |0       |78.59756848823062     |2019|1          |36 |
|grocery_pos  |107.23|F     |149     |0       |30.212175719210443    |2019|1          |46 |
|entertainment|220.11|M     |4154    |0       |108.20608258720067    |2019|1          |62 |
|gas_transport|45.0  |M     |1939    |0       |95.67323113819748     |2019|1          |57 |
|misc_pos     |41.96 |M     |99      |0       |77.5567436258178      |2019|1          |38 |
|gas_transport|94.63 |F     |2158    |0       |85.92264266264023     |2019|1          |63 |
|grocery_net  |44.54 |F     |2691    |0       |118.11977555909641    |2019|1          |31 |
|gas_transport|71.65 |M     |6018    |0       |12.766922541959126    |2019|1          |77 |
|misc_pos     |4.27  |F     |1472    |0       |25.27049367104955     |2019|1          |83 |
|grocery_pos  |198.39|F     |151785  |0       |74.07775048182131     |2019|1          |50 |
|grocery_pos  |24.74 |M     |7297    |0       |97.68326577207269     |2019|1          |34 |
|shopping_net |7.77  |F     |1925    |0       |106.4293808943283     |2019|1          |58 |
|grocery_pos  |71.22 |M     |341043  |0       |44.56107983071174     |2019|1          |35 |
|grocery_pos  |96.29 |M     |589     |0       |25.059079169313318    |2019|1          |79 |
|shopping_pos |7.77  |M     |899     |0       |66.02168481006179     |2019|1          |57 |
|shopping_net |3.26  |M     |4664    |0       |97.93065268602581     |2019|1          |59 |
|misc_net     |327.0 |F     |1078    |0       |87.34874840731703     |2019|1          |72 |
|shopping_pos |341.67|M     |4081    |0       |87.99895015911639     |2019|1          |86 |
|food_dining  |63.07 |M     |2518    |0       |90.96220878947973     |2019|1          |78 |
|grocery_pos  |44.71 |M     |124967  |0       |84.70212030854243     |2019|1          |44 |
+-------------+------+------+--------+--------+----------------------+----+-----------+---+
only showing top 20 rows

In [15]:
from pyspark.sql.functions import max

# Find the maximum value of 'city_pop' column
max_city_pop = df_cleaned.agg(max('city_pop')).collect()[0][0]

# Print the maximum value
print("Maximum value of 'city_pop':", max_city_pop)

Maximum value of 'city_pop': 2906700

In [16]:
from pyspark.sql import functions as F

# Define the population thresholds
rural_threshold = 1000000  # Population < 1 million
metropolitan_threshold = 5000000  # Population > 5 million

# Create a new 'city_type' column based on population
df_cleaned = df_cleaned.withColumn(
    'city_type',
    F.when(df_cleaned['city_pop'] < rural_threshold, '1')  # Cities with < 1M population
     .when((df_cleaned['city_pop'] >= rural_threshold) & (df_cleaned['city_pop'] < metropolitan_threshold), '2')  # Cities between 1M and 5M population
     .otherwise('3')  # Cities with > 5M population
)

'''
1 - rural
2 - subarban
3 - metropolitan
'''

# Show the updated DataFrame with the new 'city_type' column
df_cleaned.select('city_pop', 'city_type').show(truncate=False)

+--------+---------+
|city_pop|city_type|
+--------+---------+
|3495    |1        |
|149     |1        |
|4154    |1        |
|1939    |1        |
|99      |1        |
|2158    |1        |
|2691    |1        |
|6018    |1        |
|1472    |1        |
|151785  |1        |
|7297    |1        |
|1925    |1        |
|341043  |1        |
|589     |1        |
|899     |1        |
|4664    |1        |
|1078    |1        |
|4081    |1        |
|2518    |1        |
|124967  |1        |
+--------+---------+
only showing top 20 rows

In [17]:
# Drop specified columns from df_cleaned
df_cleaned = df_cleaned.drop('city_pop')

# Show the cleaned DataFrame to verify the columns have been removed
df_cleaned.show(truncate=False)

+-------------+------+------+--------+----------------------+----+-----------+---+---------+
|category     |amt   |gender|is_fraud|distance_from_merchant|year|Trans_month|age|city_type|
+-------------+------+------+--------+----------------------+----+-----------+---+---------+
|misc_net     |4.97  |F     |0       |78.59756848823062     |2019|1          |36 |1        |
|grocery_pos  |107.23|F     |0       |30.212175719210443    |2019|1          |46 |1        |
|entertainment|220.11|M     |0       |108.20608258720067    |2019|1          |62 |1        |
|gas_transport|45.0  |M     |0       |95.67323113819748     |2019|1          |57 |1        |
|misc_pos     |41.96 |M     |0       |77.5567436258178      |2019|1          |38 |1        |
|gas_transport|94.63 |F     |0       |85.92264266264023     |2019|1          |63 |1        |
|grocery_net  |44.54 |F     |0       |118.11977555909641    |2019|1          |31 |1        |
|gas_transport|71.65 |M     |0       |12.766922541959126    |2019|1          |77 |1        |
|misc_pos     |4.27  |F     |0       |25.27049367104955     |2019|1          |83 |1        |
|grocery_pos  |198.39|F     |0       |74.07775048182131     |2019|1          |50 |1        |
|grocery_pos  |24.74 |M     |0       |97.68326577207269     |2019|1          |34 |1        |
|shopping_net |7.77  |F     |0       |106.4293808943283     |2019|1          |58 |1        |
|grocery_pos  |71.22 |M     |0       |44.56107983071174     |2019|1          |35 |1        |
|grocery_pos  |96.29 |M     |0       |25.059079169313318    |2019|1          |79 |1        |
|shopping_pos |7.77  |M     |0       |66.02168481006179     |2019|1          |57 |1        |
|shopping_net |3.26  |M     |0       |97.93065268602581     |2019|1          |59 |1        |
|misc_net     |327.0 |F     |0       |87.34874840731703     |2019|1          |72 |1        |
|shopping_pos |341.67|M     |0       |87.99895015911639     |2019|1          |86 |1        |
|food_dining  |63.07 |M     |0       |90.96220878947973     |2019|1          |78 |1        |
|grocery_pos  |44.71 |M     |0       |84.70212030854243     |2019|1          |44 |1        |
+-------------+------+------+--------+----------------------+----+-----------+---+---------+
only showing top 20 rows

In [18]:
from pyspark.sql.functions import col

# Convert 'amt' and 'distance_from_merchant' to integer (whole numbers)
df_cleaned = df_cleaned.withColumn('amt', col('amt').cast('int'))
df_cleaned = df_cleaned.withColumn('distance_from_merchant', col('distance_from_merchant').cast('int'))

# Show the updated DataFrame with the converted columns
df_cleaned.select('amt', 'distance_from_merchant').show(truncate=False)

+---+----------------------+
|amt|distance_from_merchant|
+---+----------------------+
|4  |78                    |
|107|30                    |
|220|108                   |
|45 |95                    |
|41 |77                    |
|94 |85                    |
|44 |118                   |
|71 |12                    |
|4  |25                    |
|198|74                    |
|24 |97                    |
|7  |106                   |
|71 |44                    |
|96 |25                    |
|7  |66                    |
|3  |97                    |
|327|87                    |
|341|87                    |
|63 |90                    |
|44 |84                    |
+---+----------------------+
only showing top 20 rows

In [19]:
# Show the cleaned DataFrame to verify the columns have been removed
df_cleaned.show(truncate=False)

+-------------+---+------+--------+----------------------+----+-----------+---+---------+
|category     |amt|gender|is_fraud|distance_from_merchant|year|Trans_month|age|city_type|
+-------------+---+------+--------+----------------------+----+-----------+---+---------+
|misc_net     |4  |F     |0       |78                    |2019|1          |36 |1        |
|grocery_pos  |107|F     |0       |30                    |2019|1          |46 |1        |
|entertainment|220|M     |0       |108                   |2019|1          |62 |1        |
|gas_transport|45 |M     |0       |95                    |2019|1          |57 |1        |
|misc_pos     |41 |M     |0       |77                    |2019|1          |38 |1        |
|gas_transport|94 |F     |0       |85                    |2019|1          |63 |1        |
|grocery_net  |44 |F     |0       |118                   |2019|1          |31 |1        |
|gas_transport|71 |M     |0       |12                    |2019|1          |77 |1        |
|misc_pos     |4  |F     |0       |25                    |2019|1          |83 |1        |
|grocery_pos  |198|F     |0       |74                    |2019|1          |50 |1        |
|grocery_pos  |24 |M     |0       |97                    |2019|1          |34 |1        |
|shopping_net |7  |F     |0       |106                   |2019|1          |58 |1        |
|grocery_pos  |71 |M     |0       |44                    |2019|1          |35 |1        |
|grocery_pos  |96 |M     |0       |25                    |2019|1          |79 |1        |
|shopping_pos |7  |M     |0       |66                    |2019|1          |57 |1        |
|shopping_net |3  |M     |0       |97                    |2019|1          |59 |1        |
|misc_net     |327|F     |0       |87                    |2019|1          |72 |1        |
|shopping_pos |341|M     |0       |87                    |2019|1          |86 |1        |
|food_dining  |63 |M     |0       |90                    |2019|1          |78 |1        |
|grocery_pos  |44 |M     |0       |84                    |2019|1          |44 |1        |
+-------------+---+------+--------+----------------------+----+-----------+---+---------+
only showing top 20 rows

In [20]:
from pyspark.sql import functions as F

# Map 'M' to 1 and 'F' to 0 in the 'gender' column
df_cleaned = df_cleaned.withColumn(
    'gender',
    F.when(df_cleaned['gender'] == 'M', 1)
     .when(df_cleaned['gender'] == 'F', 0)
     .otherwise(df_cleaned['gender'])  # Keeps other values if there are any (optional)
)

# Show the updated DataFrame with the mapped 'gender' column
df_cleaned.select('gender').show(truncate=False)

+------+
|gender|
+------+
|0     |
|0     |
|1     |
|1     |
|1     |
|0     |
|0     |
|1     |
|0     |
|0     |
|1     |
|0     |
|1     |
|1     |
|1     |
|1     |
|0     |
|1     |
|1     |
|1     |
+------+
only showing top 20 rows

In [21]:
# Show data types of all columns
for col_name, dtype in df_cleaned.dtypes:
    print(f"Column: {col_name}, Type: {dtype}")

Column: category, Type: string
Column: amt, Type: int
Column: gender, Type: string
Column: is_fraud, Type: int
Column: distance_from_merchant, Type: int
Column: year, Type: string
Column: Trans_month, Type: string
Column: age, Type: int
Column: city_type, Type: string

In [22]:
from pyspark.sql.functions import col

# Convert 'gender' column to string
df_cleaned = df_cleaned.withColumn('gender', col('gender').cast('string'))

# Show the updated DataFrame with the 'gender' column as string
df_cleaned.select('gender').show(truncate=False)

+------+
|gender|
+------+
|0     |
|0     |
|1     |
|1     |
|1     |
|0     |
|0     |
|1     |
|0     |
|0     |
|1     |
|0     |
|1     |
|1     |
|1     |
|1     |
|0     |
|1     |
|1     |
|1     |
+------+
only showing top 20 rows

In [23]:
from pyspark.sql import functions as F

# Convert 'is_fraud' column to 'Fraud' and 'Not Fraud' labels
df_cleaned = df_cleaned.withColumn(
    'is_fraud',
    F.when(df_cleaned['is_fraud'] == '1', '1')
     .when(df_cleaned['is_fraud'] == '0', '0')
     .otherwise(df_cleaned['is_fraud'])  # Keep other values (if any)
)

# Show the updated DataFrame with the 'is_fraud' column as string
df_cleaned.select('is_fraud').show(truncate=False)

+--------+
|is_fraud|
+--------+
|0       |
|0       |
|0       |
|0       |
|0       |
|0       |
|0       |
|0       |
|0       |
|0       |
|0       |
|0       |
|0       |
|0       |
|0       |
|0       |
|0       |
|0       |
|0       |
|0       |
+--------+
only showing top 20 rows

In [24]:
df_cleaned.printSchema()

root
 |-- category: string (nullable = true)
 |-- amt: integer (nullable = true)
 |-- gender: string (nullable = true)
 |-- is_fraud: string (nullable = true)
 |-- distance_from_merchant: integer (nullable = true)
 |-- year: string (nullable = true)
 |-- Trans_month: string (nullable = true)
 |-- age: integer (nullable = true)
 |-- city_type: string (nullable = false)

In [25]:
from pyspark.sql.types import StringType

# Extract categorical columns (columns with string type)
categorical_cols = [field.name for field in df_cleaned.schema.fields if isinstance(field.dataType, StringType)]

# Show the categorical columns
print(categorical_cols)

['category', 'gender', 'is_fraud', 'year', 'Trans_month', 'city_type']

In [69]:
from pyspark.ml.feature import StringIndexer

# List of columns to encode - Updated to 'Trans_month'
cols = ['Trans_month']

# Apply StringIndexer to each column in the list
for col in cols:
    indexer = StringIndexer(inputCol=col, outputCol=col + "_index")
    df_cleaned = indexer.fit(df_cleaned).transform(df_cleaned)

# Show the resulting DataFrame with encoded columns
df_cleaned.show()

IllegalArgumentException: requirement failed: Output column Trans_month_index already exists.

In [70]:
# Show the resulting DataFrame with encoded columns
df_cleaned.show()

+-------------+---+------+--------+----------------------+-----------+---+---------+-----------------+
|     category|amt|gender|is_fraud|distance_from_merchant|Trans_month|age|city_type|Trans_month_index|
+-------------+---+------+--------+----------------------+-----------+---+---------+-----------------+
|     misc_net|  4|     0|       0|                    78|          1| 36|    Rural|              5.0|
|  grocery_pos|107|     0|       0|                    30|          1| 46|    Rural|              5.0|
|entertainment|220|     1|       0|                   108|          1| 62|    Rural|              5.0|
|gas_transport| 45|     1|       0|                    95|          1| 57|    Rural|              5.0|
|     misc_pos| 41|     1|       0|                    77|          1| 38|    Rural|              5.0|
|gas_transport| 94|     0|       0|                    85|          1| 63|    Rural|              5.0|
|  grocery_net| 44|     0|       0|                   118|          1| 31|    Rural|              5.0|
|gas_transport| 71|     1|       0|                    12|          1| 77|    Rural|              5.0|
|     misc_pos|  4|     0|       0|                    25|          1| 83|    Rural|              5.0|
|  grocery_pos|198|     0|       0|                    74|          1| 50|    Rural|              5.0|
|  grocery_pos| 24|     1|       0|                    97|          1| 34|    Rural|              5.0|
| shopping_net|  7|     0|       0|                   106|          1| 58|    Rural|              5.0|
|  grocery_pos| 71|     1|       0|                    44|          1| 35|    Rural|              5.0|
|  grocery_pos| 96|     1|       0|                    25|          1| 79|    Rural|              5.0|
| shopping_pos|  7|     1|       0|                    66|          1| 57|    Rural|              5.0|
| shopping_net|  3|     1|       0|                    97|          1| 59|    Rural|              5.0|
|     misc_net|327|     0|       0|                    87|          1| 72|    Rural|              5.0|
| shopping_pos|341|     1|       0|                    87|          1| 86|    Rural|              5.0|
|  food_dining| 63|     1|       0|                    90|          1| 78|    Rural|              5.0|
|  grocery_pos| 44|     1|       0|                    84|          1| 44|    Rural|              5.0|
+-------------+---+------+--------+----------------------+-----------+---+---------+-----------------+
only showing top 20 rows

In [72]:
from pyspark.sql import functions as F
from pyspark.ml.feature import StringIndexer, OneHotEncoder
from pyspark.ml import Pipeline

# Assuming df_cleaned is your DataFrame

# 1. Identify non-ordinal categorical columns (e.g., 'category')
non_ordinal_cols = ['category']

# 2. Apply One-Hot Encoding to non-ordinal categorical columns
indexers = []
encoders = []

for col in non_ordinal_cols:
    # StringIndexer to convert the categorical column to a numeric index
    indexer = StringIndexer(inputCol=col, outputCol=col + '_index')

    # OneHotEncoder to convert the indexed column to one-hot encoding
    encoder = OneHotEncoder(inputCol=col + '_index', outputCol=col + '_onehot')

    indexers.append(indexer)
    encoders.append(encoder)

# 3. Build a pipeline to apply both StringIndexer and OneHotEncoder
pipeline = Pipeline(stages=indexers + encoders)

# Fit and transform the pipeline on the data
df_transformed = pipeline.fit(df_cleaned).transform(df_cleaned)

# 4. Convert boolean columns to integers (True/False to 1/0)
# Assuming boolean columns are in boolean format, cast them to integers
boolean_cols = [col for col in df_cleaned.columns if isinstance(df_cleaned.select(col).head()[0], bool)]

for col in boolean_cols:
    df_transformed = df_transformed.withColumn(col, F.col(col).cast('integer'))

# Show the schema to confirm the changes
df_transformed.printSchema()

# Optionally, show the first few rows of the transformed DataFrame
df_transformed.show(5)

root
 |-- category: string (nullable = true)
 |-- amt: integer (nullable = true)
 |-- gender: string (nullable = true)
 |-- is_fraud: string (nullable = true)
 |-- distance_from_merchant: integer (nullable = true)
 |-- Trans_month: string (nullable = true)
 |-- age: integer (nullable = true)
 |-- city_type: string (nullable = false)
 |-- Trans_month_index: double (nullable = false)
 |-- category_index: double (nullable = false)
 |-- category_onehot: vector (nullable = true)

+-------------+---+------+--------+----------------------+-----------+---+---------+-----------------+--------------+---------------+
|     category|amt|gender|is_fraud|distance_from_merchant|Trans_month|age|city_type|Trans_month_index|category_index|category_onehot|
+-------------+---+------+--------+----------------------+-----------+---+---------+-----------------+--------------+---------------+
|     misc_net|  4|     0|       0|                    78|          1| 36|    Rural|              5.0|          11.0|(13,[11],[1.0])|
|  grocery_pos|107|     0|       0|                    30|          1| 46|    Rural|              5.0|           1.0| (13,[1],[1.0])|
|entertainment|220|     1|       0|                   108|          1| 62|    Rural|              5.0|           6.0| (13,[6],[1.0])|
|gas_transport| 45|     1|       0|                    95|          1| 57|    Rural|              5.0|           0.0| (13,[0],[1.0])|
|     misc_pos| 41|     1|       0|                    77|          1| 38|    Rural|              5.0|          10.0|(13,[10],[1.0])|
+-------------+---+------+--------+----------------------+-----------+---+---------+-----------------+--------------+---------------+
only showing top 5 rows

In [73]:
from pyspark.sql import SparkSession
from pyspark.ml.feature import VectorAssembler, StandardScaler
from pyspark.ml import Pipeline
from pyspark.sql.functions import col

# Initialize Spark session
spark = SparkSession.builder.appName("FraudDetection").getOrCreate()

# Assuming 'df_cleaned' is already a PySpark DataFrame
# If df_cleaned is a pandas DataFrame, you can convert it using:
# df_cleaned = spark.createDataFrame(df_cleaned)

# Step 1: Assemble features into a single vector column (excluding 'is_fraud')
feature_columns = [col for col in df_cleaned.columns if col not in ['is_fraud', 'gender', 'city_type', 'category', 'category_onehot']]

assembler = VectorAssembler(inputCols=feature_columns, outputCol="features")
df_assembled = assembler.transform(df_cleaned)

# Step 2: Split the data into train and test sets (80% train, 20% test)
train_df, test_df = df_assembled.randomSplit([0.8, 0.2], seed=42)

# Step 3: Standardize the features using StandardScaler
scaler = StandardScaler(inputCol="features", outputCol="scaled_features", withStd=True, withMean=True)
scaler_model = scaler.fit(train_df)
train_df_scaled = scaler_model.transform(train_df)
test_df_scaled = scaler_model.transform(test_df)

# Step 4: Prepare the data for training
train_data = train_df_scaled.select('scaled_features', 'is_fraud').withColumnRenamed("scaled_features", "features")
test_data = test_df_scaled.select('scaled_features', 'is_fraud').withColumnRenamed("scaled_features", "features")

# Check the shapes of the training and test datasets
print("Training features shape : ", train_data.count(), len(feature_columns))
print("Test features shape : ", test_data.count(), len(feature_columns))
print("Training target shape : ", train_data.count())
print("Test target shape : ", test_data.count())

IllegalArgumentException: Data type string of column Trans_month is not supported.